.cabeçalho{background-color: aquamarine;
}
*{
    margin: 0;
    padding: 0;
}

.roupas-imagem{
  width: 20%;
}

.roupas-imagem{
  width: 20%;
}
.roupas-lista-item{
  display: inline-block;
  padding: 24px;
  display: flex;}

.roupas-paragrafos{color: rgb(101, 31, 180);

}

.escola-imagem{
 width: 25%;
}
.escola{
background-image: linear-gradient(#424e61, #4EBFE9);
color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;

}
.escola-div-conteudo{
 width: 35%;
}
.escola-titulo{
 padding: 24px;
}
.estudante-imagem{
 width: 120px;
}
.estudante-icone{
 width: 16px;
}
.estudante-conteudo-div{
 text-align: center;
}
do{
 width: 35%;
}
.escola-titulo{
 padding: 24px;
}
.estudante-imagem{
 width: 120px;
}
.estudante-icone{
 width: 16px;
}
.estudante-conteudo-div{
 text-align: center;
}
